################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HoursTracker/.vs/HoursTracker
*.user
/HoursTracker/.vs
/HoursTracker/.idea/.idea.HoursTracker/.idea
/HoursTracker/src/HoursTracker.Data/Migrations
/.vs

.vs/

HoursTracker/src/HoursTracker.Web/appsettings.Development.json
