@{
    ViewData["Title"] = "Alumnos";
}

@section Scripts {
    <script>
        $(function () {

          const table = $("#studentsTable").DataTable({
            language,
            dom: "Bfrtip",
            ajax: {
                url: "@Url.Action("All", "Students")",
                dataSrc: ""
            },
            buttons: [
              {
                text: "Agregar",
                className: "btn btn-primary waves-effect",
                action: function () {
                  window.location.href = "@Url.Action("Create", "Students")";
                },
              },
            ],
            columns: [
              { data: "account" },
              { data: "firstName" },
              { data: "secondName" },
              { data: "firstSurname" },
              { data: "secondSurname" },
              { data: "email" },
              { data: "careerName" },
              { data: "campusName" },
              { data: "settlement" },
              { data: "isInBot" },
              { data: null },
            ],
            columnDefs: [
              {
                targets: [-1],
                width: 80,
                render: function (data, type, row) {
                  const {id} = row;
                  return (
                    `<div class="text-center">
                        <button type="button" class="btn bg-light-blue waves-effect edit-action" data-id=${id}>
                            <i class="material-icons">create</i>
                        </button>
                        <button type="button" class="btn bg-red waves-effect delete-action" data-id=${id}>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>`
                  );
                },
              },
            ],
          });

          $(document).on('click', '.edit-action', function () {

              window.location.href = `@Url.Action("Edit", "Students")/${this.dataset.id}`;
          });

          $(document).on('click', '.delete-action', function () {
              bootbox.confirm({
                  message: "¿Está seguro que desea elimiar el registro?",
                      buttons: {
                          confirm: {
                              label: 'Si',
                              className: 'btn-default'
                          },
                          cancel: {
                              label: 'No',
                              className: 'btn-primary'
                          }
                      },
                      callback: result => {
                          if (!result) return;

                          $.ajax({
                              url: `@Url.Action("Delete", "Students")/${this.dataset.id}`,
                              type: 'DELETE',
                              success: function() {
                                  table.ajax.reload();
                              }
                          });
                      }
                });
          });
        });
    </script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <span>Alumnos</span>
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">

                    <table id="studentsTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Primer nombre</th>
                                <th>Segundo nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Correo</th>
                                <th>Carrera</th>
                                <th>Campus</th>
                                <th>Finiquito</th>
                                <th>Registrado Bot</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>