
@{
    ViewData["Title"] = "Create";
}

@section Scripts {

    <script>
    $(function () {

        $(".form-horizontal").submit(function (event){
            event.preventDefault();

            $(this).ajaxSubmit({
                url: '@Url.Action("Create", "ProjectHours")',
                type: 'post',
                resetForm: true,
                success: () => {
                    $(this).prepend(`
                        <div id="alert" class="alert bg-green alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            ¡Horas vinculativas han sido agregadas exitosamente!
                        </div>
                    `);
                }
            })

        })

    });

        jQuery(function ($) {
            $('.back-button').click(function (e) {
                history.back();
            });
        });

    </script>

}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <button type="button" class="back-button btn btn-primary btn-circle waves-effect"> <i class="fa fa-arrow-left"></i> </button>
                    Agregar Horas
                </h2>
            </div>
            <div class="body form-center">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="account">Cuenta del Estudiante</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="account" class="form-control show-tick" data-live-search="true" data-live-search-style="startsWith">
                                        <option value="21651487" style="margin-left:25px;">21651487 - Juan Romero</option>
                                        <option value="21651489" style="margin-left:25px;">21651489 - Luis Herrera</option>
                                        <option value="21651426" style="margin-left:25px;">21651426 - Marlon Escoto</option>
                                        <option value="21653426" style="margin-left:25px;">21653426 - Emil Canales</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="seccionCode">Sección</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="seccionCode" data-live-search="true" data-live-search-style="startsWith" name="careers" class="form-control show-tick">
                                        <option value="166" style="margin-left:25px;">166</option>
                                        <option value="275" style="margin-left:25px;">275</option>
                                        <option value="600" style="margin-left:25px;">600</option>
                                        <option value="863" style="margin-left:25px;">863</option>
                                        <option value="868" style="margin-left:25px;">866</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="projectName">Projecto</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <select id="projectName" data-live-search="true" data-live-search-style="startsWith" name="careers" class="form-control show-tick">
                                        <option value="TELETON" style="margin-left:25px;">TELETON</option>
                                        <option value="SOCIOLOGIA" style="margin-left:25px;">SOCIOLOGIA</option>
                                        <option value="VALORES HUMANOS, FUNDAMENTOS DE NUESTRO FUTURO" style="margin-left:25px;">VALORES HUMANOS, FUNDAMENTOS DE NUESTRO FUTURO</option>
                                        <option value="TUTORÍAS">TUTORÍAS</option>
                                        <option value="Campañas de Divulgacion para Microempresarios" style="margin-left:25px;">Campañas de Divulgacion para Microempresarios</option>
                                        <option value="INVESTIGACION DE MERCADO" style="margin-left:25px;">INVESTIGACION DE MERCADO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="tableState">Estado</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="tableState" name="tableState" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="hours">Horas</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="hours" name="hours" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                            <button id="saveButton" type="submit" class="btn btn-primary m-t-15 waves-effect">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

