@model int

@{
    ViewData["Title"] = "Editar Horas";
}


@section Scripts {

    <script>

    function setFormValues(id) {
        $.get(`@Url.Action("Get", "Projecthours")/${id}`, data => {
          for (var key in data) {
            $('[name="'+key+'"]').val(data[key]);
          }
        });
        }


    $(function () {

        setFormValues(@Model);

        $(".form-horizontal").submit(function (event){
            event.preventDefault();

            $(this).ajaxSubmit({
                url: '@Url.Action("Edit", "Projecthours")',
                type: 'put',
                resetForm: false,
                success: () => {
                    $(this).prepend(`
                        <div id="alert" class="alert bg-green alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            ¡La carrera ha sido editada exitosamente!
                        </div>
                    `);
                }
            })

        })

    });

        jQuery(function ($) {
            $('.back-button').click(function (e) {
                history.back();
            });
        });
    </script>

}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <button type="button" class="back-button btn btn-primary btn-circle waves-effect"> <i class="fa fa-arrow-left"></i> </button>
                    Editar Horas
                </h2>
            </div>
            <div class="body form-center">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="Account">Numero de cuenta</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="account" name="account" class="form-control" autocomplete="off" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="SeccionCode">Seccion</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="seccionCode" name="seccionCode" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="ProjectName">Nombre del Proyecto</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="projectName" name="projectName" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                            <label for="Hours">Horas</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="hours" name="hours" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
